html {
    --bgColorMenu: #1d1d27;
    --duration: 0.7s;
}

html *,
html *::before,
html *::after {
    box-sizing: inherit;
}

body {
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);
}

.menu {
    margin: 0;
    width: 100vw;
    height: 25%;
    display: flex;
    font-size: 1.5em;
    padding: 0 2.85em;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
}

.menu__item {
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;.me
    transition: transform var(--timeOut, var(--duration));
    width: 20vw;
}

.menu__item::before {
    content: "";
    z-index: -1;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
}
@media (max-width: 1280px) {
    .menu__item::before{
        width: 10vw;
        height: 10vw;
    }
}

.menu__item.active {
    transform: translate3d(0, -0.8em, 0);
}

.menu__item.active::before {
    transform: scale(1);
    background-color: var(--bgColorItem);
}

.icon {
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
}

.menu__item.active .icon {
    animation: strok 1.5s reverse;
}

@keyframes strok {
    100% {
        stroke-dashoffset: 400;
    }
}

.menu__border {
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));
}

.svg-container {
    width: 0;
    height: 0;
}

@media screen and (max-width: 50em) {
    .menu {
        font-size: 0.8em;
    }
}
